<h3>Image example:</h3>
<canvas id="canvas" width="96" height="64" style="border:1px solid #d3d3d3;">
  Your browser does not support the canvas element.
</canvas>

<style>
canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    border: 5px solid #ddd;
}
canvas { width: 100%;  }
</style>
