<h3>Text:</h3>
<form method="post">
  <div class="row">
    <div class="small-3 columns">
      <label for="hidden-input" class="text-right middle">Background color:</label>
    </div>
    <div class="small-9 columns">
      <input type="hidden" id="background-color" class="demo" value="#000000">
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label for="middle-label" class="text-right middle">First line</label>
    </div>
    <div class="small-9 columns">
      <input type="text" name="canvasText" id="canvasText" placeholder="Hello world !">
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label for="file" class="text-right middle">Upload file:</label>
    </div>
    <div class="small-9 columns">
      <input type="file" id="file">
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns text-right">
       <button id="draw" class="button">Send</button>
    </div>
  </div>
</form>
