<h3>Text:</h3>
<form method="post">
  <div class="row">
    <div class="small-3 columns">
      <label for="middle-label" class="text-right middle">First line</label>
    </div>
    <div class="small-9 columns">
      <input type="text" name="first" placeholder="Hello">
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label for="middle-label" class="text-right middle">Second line</label>
    </div>
    <div class="small-9 columns">
      <input type="text" name="second" placeholder="world!">
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns text-right">
      <button type="submit" class="button">Submit</button>
    </div>
  </div>
</form>
