<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/app.css" media="screen" charset="utf-8">
    <meta charset="utf-8">
    <title>Led matrix web interface</title>
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Led matrix</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
    <div class="container">
      {{{body}}}
    </div>
    <script src="/static/js/app.js" charset="utf-8"></script>
</body>
</html>
