<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/app.css" media="screen" charset="utf-8">
    <meta charset="utf-8">
    <title>Led matrix web interface</title>
</head>
<body>
  {{>topbar}}
  <div class="row">
    <div class="small-12 columns">
      {{{body}}}
    </div>
  </div>
  <script src="/static/js/app.js" charset="utf-8"></script>
</body>
</html>
